# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Dependency directories
jspm_packages/

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Misc
*.tgz
*.lock

# Coverage folders
coverage/
# Python virtual environment
env/
venv/
